:root {
  --background-color: rgb(2, 10, 20);
  --progress-bar-color: green;
}

/* CSS for å fylle hele skjermen uten scrolling */
html,
body {
  height: 100%; /* Fyll hele høyden */
  margin: 0; /* Fjern marginer */
  padding: 0; /* Fjern padding */
  background: var(--background-color);
  font-family: Arial, sans-serif;
  color: white;
}

body {
  display: flex; /* Bruk flexbox for å fylle skjermen */
  justify-content: center; /* Sentrer innholdet horisontalt */
  flex-direction: column;
}

#meteogram {
  align-self: center;
}

#table {
  max-height: 500px;
  flex: 1;
}

#busstopp {
  flex: 1;
  width: 800px;
  align-self: center;
}

#next {
  align-self: center;
  padding: 0 20px 20px 20px;
}

#middag {
  align-self: center;
  font-size: 22px;
}

/* Set the size and position of the progress bar container */
#progress-bar-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px; /* Height of the progress bar */
  background-color: var(--background-color);
}

/* Progress bar animation */
#progress-bar {
  height: 100%; /* Full height of the container */
  width: 0%; /* Initial width is 0 */
  background-color: var(--progress-bar-color); /* Color of the progress bar */
  animation: progress-animation 10s linear infinite; /* Animate the progress bar */
}

/* Keyframes for the progress bar animation */
@keyframes progress-animation {
  0% {
    width: 0%;
  } /* Start with no progress */
  100% {
    width: 100%;
  } /* Fill the progress bar to full width */
}
